---
version: 2.1
orbs:
  aws-ecr: circleci/aws-ecr@8.2.1
  aws-cli: circleci/aws-cli@4.0.0
  aws-eks: circleci/aws-eks@2.2.0
  helm: circleci/helm@2.0.1
jobs:
  assume-k8s-role:
    executor: aws-cli/default
    steps:
      - checkout
      - aws-cli/setup:
          profile_name: default
      - aws-cli/role_arn_setup:
          profile_name: k8s
          role_arn: ${KUBE_ROLE}
          source_profile: default
#      - run: >-
#            ACCOUNT_ROLE=$(aws sts assume-role --role-arn ${KUBE_ROLE} --role-session-name k8s)
#            export AWS_ACCESS_KEY_ID=$(echo "${ACCOUNT_ROLE}" | jq -r '.Credentials.AccessKeyId')
#            export AWS_SECRET_ACCESS_KEY=$(echo "${ACCOUNT_ROLE}" | jq -r '.Credentials.SecretAccessKey')
#            export AWS_SESSION_TOKEN=$(echo "${ACCOUNT_ROLE}" | jq -r '.Credentials.SessionToken')
  install-helm-chart:
    docker:
      - image: cimg/python:3.10
    parameters:
      cluster-name:
        description: Cluster name
        type: string
    steps:
      - aws-eks/update-kubeconfig-with-authenticator:
          cluster-name: << parameters.cluster-name >>
          aws-region: ${AWS_REGION}
          aws-profile: k8s
          verbose: true
      - helm/install-helm-chart:
          add-repo: "https://andressrod.github.io/nclouds-sample-app/"
          release-name: jarc-nclouds-project
          chart: jarc-project2
          namespace: jarodriguezc
          helm-version: v1.0.0
          values-to-override: image.repository=${ACCOUNT_ID}.dkr.ecr.${AWS_REGION}.amazonaws.com/${REPO},image.tag=v${CIRCLE_BUILD_NUM}
workflows:
  nclouds_workflow:
    jobs:
      - aws-ecr/build-and-push-image:
          repo: ${REPO}
          tag: v${CIRCLE_BUILD_NUM}
      - assume-k8s-role:
          context: aws
      - install-helm-chart:
          cluster-name: ${EKS_CLUSTER_NAME}
          requires:
            - aws-ecr/build-and-push-image
            - assume-k8s-role