---
version: 2.1
orbs:
  aws-ecr: circleci/aws-ecr@8.2.1
  aws-eks: circleci/aws-eks@2.2.0
  helm: circleci/helm@2.0.1
jobs:
  install-helm-chart:
    docker:
      - image: cimg/python:3.10
    parameters:
      cluster-name:
        description: Cluster name
        type: string
    steps:
      - aws-eks/update-kubeconfig-with-authenticator:
          cluster-name: << parameters.cluster-name >>
          cluster-authentication-role-arn: "${KUBE_ROLE}"
          aws-region: ${AWS_REGION}
          verbose: true
      - helm/install-helm-chart:
          add-repo: "https://andressrod.github.io/nclouds-sample-app/"
          release-name: jarc-nclouds-project
          chart: jarc-project2
          namespace: jarodriguezc
          helm-version: v1.0.0
          values-to-override: image.repository=${ACCOUNT_ID}.dkr.ecr.${AWS_REGION}.amazonaws.com/${REPO},image.tag=v${CIRCLE_BUILD_NUM}
workflows:
  nclouds_workflow:
    jobs:
      - aws-ecr/build-and-push-image:
          repo: ${REPO}
          tag: v${CIRCLE_BUILD_NUM}
      - install-helm-chart:
          cluster-name: ${EKS_CLUSTER_NAME}
          requires:
            - aws-ecr/build-and-push-image